body{
    background: black;
    color:aliceblue; 
}

.sidebar{
    width: 30%;
    float: left;
    top: 40px;
    border-right: 5px solid inset;
    position: absolute;
}

.sidebar h3{
    background:deeppink;
    text-align: center;
}

.sidebar input{
    padding-left: 20px;
}

.menubar{
    background-color: deeppink;
    text-align:center;
    color: white;
    box-sizing: border-box;
    position: relative;
}


img{
    border-radius: 150px;
    height: 130px;
    width: 130px;
    border: 5px solid white;
    margin-left: 0;
    margin-left: 10px;
}

.container{
    float: right;
    box-sizing: border-box;
    width: 65vw;
    /* margin-top: ; */
}

.container P{
    float: inline-end;
}
/* 
.container h3{
    float: inline-start;
} */

input[type="range"] {
    accent-color: deeppink;
    padding-left: 20px;
}

input[type="range"]::-webkit-slider-runnable-track
input[type="range"]::-moz-range-track
input[type="range"]::-ms-track

input[type="range"]::-webkit-slider-thumb
input[type="range"]::-moz-range-thumb
input[type="range"]::-ms-thumb{
    color: crimson;
}

.verticalLine {
    border-left: thick solid #ff0000;
}


.progress-bar{
    height: 0.7rem;
    bottom: 60px;
}

.progress-bar, progress-one {
    width: 50%;
    height: 12px;
    background-color: green;
    /* border-radius: 10px; */
    color: aqua;
    border-radius: 10px;
  }

.hob i{
    font-size: 50px;
    background-color: deeppink;
    margin-left: 45px;
    border-radius: 60px;
    height: 60px;
    width: 55px;
    align-items: center;
    padding-left: 5px;
    padding-top: 3px;
}

.contact i{
    font-size: 40px;
    color: deeppink;
    margin-bottom: 45px;
    border-radius: 60px;
     height: 55px;
    width: 50px;
    align-items: center;
    padding-left: 5px;
    padding-top: 3px; 
    display: block;
}

 .hob  ul li{
    position: relative;
    display: inline;
    padding-left:35px;
}
  
.progress{
    width: 80%;
    border-radius: 10px;
}

.lan .eng{
    padding-bottom: 20px;
}

.sidebar h3 button{
    background: inherit;
    border: none;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}

.sidebar h3 button:hover{
    color: blue;
}

.contact-icon{
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.contact-info{
    float: right;
    width: 40%;
    box-sizing: border-box;
}

.contact-info p{
    padding-bottom: 65px;
    font-size: large;
    font-weight: bold;
    max-width: fit-content;
}

.contact{
    width: 30vw;
}


/* ----------------------------------------*/
.container {
    position: relative;
    width: 300px;
  }
  
  .circle {
    width: 15px;
    height: 15px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .line {
    position: absolute;
    width: 3px;
    background-color: #555;
    left: 7px;
    top: 15px;
    bottom: -80px;
    z-index: 0;
  }
  
  .text {
    margin-left: 25px;
    line-height: 30px;
  }